{
        http_port 80
        https_port 443
        email me@alanwei.com
        admin :2019
        log {
                level INFO
                format json {
                        time_format wall
                }
                output file /data/softwares/caddy.log {
                        roll_size 10MiB
                        roll_keep 10
                        roll_keep_for 2160h
                }
        }
}

http://localhost:6910 {
        reverse_proxy https://localhost:6901
        log
}